*, body{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif ;
    overflow-x: hidden;
}
:root{
    /*Colores*/
    --primaryColor:#333333;
    --primaryColorS1:#1f1f1f;
    --primaryColorS2:#0d0d0d;
    --primaryColorL1:#666666;
    --primaryColorL2:#999999;
    --primaryColorL3:#cccccc;
    --secondaryColor: #ec098c;/*linear-gradient(#ec098c, #ff9d0b); */
    --secondaryColorS1: #df247a; /*#df247a, #e6900e;*/
    --secondaryColorS2: #cc0861; /*#cc0861, #cb7d0a;*/
    --secondaryColorS3: #ab0752;/*#ab0752, #b7730f;*/
    --secondaryColorL1:#ee35a1; /*#ee35a1, #ffaa2c;*/
    --secondaryColorL2:#f141a8; /*#ffb341;*/
    --secondaryColorL3:#f163b6;/* #ffc875;*/
    --accentColor:#99dc0b;
    --black:#111111;
    --white:#f2f2f2;
    --googleColor:#f90101;
    --facebookColor:#3b5998;
    /*Fuentes*/
    --h1: 32px;
    --h2: 24px;
    --h3: 20px;
    --bodyFontSize: 16px;
    --bodyBold: 16px, bold;
    --buttonText:14px, letter: spacing 30%;
    --bigCardText:25px, letter: font: weight 600px;
    --smallCardText: 23px;
    --smallText:14px;
    /*Cards*/
    --divSmallCardSize: 290px, 360px;
    --imgSmallCardSize:290px, 214px;
    /*Tamanios botones*/
    --smallButtonSize:120px, 36px;
    --BigButtonSize:203px, 56px;
    --buttonLogInSingUpFormSize:400px, 44px;
    --cartButton:420px, 38px;
    /*label gratis*/
    --labelSize:79px, 26px;
    /*Inputs*/
    --inputFormSize: 400px, 33px;
    --inputSearchSize:300px, 40px;
    --inputCommentSize:996px, 50px;
    --inputDateSize:120px, 35.94px;

}

body{
    /*width: 390px;*/
    background-color: var(--primaryColor);
    /*height: fit-content;*/
    display: grid;
    grid-template-columns: 1fr;
    /*grid-template-rows: 3% 91% 6%;*/
    grid-template-rows: 1fr auto 3fr ; /* con 3% auto 6% el body no toma todo*/
    grid-template-areas: "header" 
                        "container"
                        "footer";
                        
}

nav.mainNav, nav.userNav, div.cartPopUp{
    display: none;
}

header{
    background-color: var(--primaryColorS2);
    /*grid-column: 1;
    grid-row: 1;*/
    grid-area: "header";
    /*height: fit-content;*/
    position: sticky;
    top:0;
    z-index: 100;
    
}

div.container{
   /* grid-column: 1;
    grid-row: 2;*/
    margin-left: 8px;
    margin-right: 8px;
    grid-area: "container";
    
}

footer{
   /* grid-column: 1;
    grid-row: 3;*/
    grid-area: "footer";
    background-color: var(--primaryColorS2);
    height: fit-content;
}
/*div.bigCarousel{
    height: 300px;
    display: flex;
    flex-direction: column;

}*/


/*Carrusel grande*/
section.recommended{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}
div.imgBigCarousel img{
    height: 250px;
    width: 100%;
    opacity: 0;
    transition:opacity 1s;
    /*position: absolute;*/
    /*left: 0;
    top: 0;*/
    display: none;

}
div.imgBigCarousel img:first-child{
    opacity: 1;
    /*display: block;*/
}
div.imgBigCarousel img:target{
    opacity: 1;
    display: block;
}

/*Botones carrusel grande*/
nav.elipseButton{
    display: flex;
    justify-content: center;
    /*position: relative;*/
    
}
nav.elipseButton button{
    margin: 8px;
}
/*Carrusel chico*/
section.smallCarousel{
    /*display: block;*/
    /*overflow-x: auto;*/
}
div.carousel{
    overflow-x: scroll;
}
div.slides{
    display: flex;
    flex-direction: row;
    /*flex-wrap: nowrap;*/
    /*overflow-x: scroll;*/
    width: fit-content;
    /*scroll-snap-type: x;*/
    /*transform: translateX(200px);*/
}
/*card pequeña*/
div.card{
    background-color: var(--white);
    width: 250px;
    display: flex;
    flex-direction: column;  
}

div.card-img img{
    height: 100px;
    width: 100%;
    
}
button.cardButton{
    background-color: var(--secondaryColor);
    text-align: center;
    width: 100px;
    border-radius: 5px;
    align-self: center; 
      
}
button.cardButton a{
    color: var(--white);
}
