*, body{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif ;
    overflow-x: hidden;
}
:root{
    /*Colores*/
    --primaryColor:#333333;
    --primaryColorS1:#1f1f1f;
    --primaryColorS2:#0d0d0d;
    --primaryColorL1:#666666;
    --primaryColorL2:#999999;
    --primaryColorL3:#cccccc;
    --secondaryColor: #ec098c;/*linear-gradient(#ec098c, #ff9d0b); */
    --secondaryColorS1: #df247a; /*#df247a, #e6900e;*/
    --secondaryColorS2: #cc0861; /*#cc0861, #cb7d0a;*/
    --secondaryColorS3: #ab0752;/*#ab0752, #b7730f;*/
    --secondaryColorL1:#ee35a1; /*#ee35a1, #ffaa2c;*/
    --secondaryColorL2:#f141a8; /*#ffb341;*/
    --secondaryColorL3:#f163b6;/* #ffc875;*/
    --accentColor:#99dc0b;
    --black:#111111;
    --white:#f2f2f2;
    --googleColor:#f90101;
    --facebookColor:#3b5998;
    /*Fuentes*/
    --h1: 32px;
    --h2: 24px;
    --h3: 20px;
    --bodyFontSize: 16px;
    --bodyBold: 16px, bold;
    /*--buttonText:14px, letter: spacing 30%;*/ /*asi no lo aplica*/
    --buttonText: 14px;
    /*--bigCardText:25px, letter: font: weight 600px;*/ /*asi no lo toma*/
    --bigCardText:20px; /*25 es muy grande lo achique*/
    --smallCardText: 18px; /*antes 23 px*/
    --smallText:14px; /*ojo este se repite con buttonText ahora*/
    /*Cards*/
    --divSmallCardSize: 290px, 360px;
    --imgSmallCardSize:290px, 214px;
    /*Tamanios botones*/
    --smallButtonSize:120px, 36px;
    --BigButtonSize:203px, 56px;
    --buttonLogInSingUpFormSize:400px, 44px;
    --cartButton:420px, 38px;
    /*label gratis*/
    --labelSize:79px, 26px;
    /*Inputs*/
    --inputFormSize: 400px, 33px;
    --inputSearchSize:300px, 40px;
    --inputCommentSize:996px, 50px;
    --inputDateSize:120px, 35.94px;

}

body{
    /*width: 390px;*/
    background-color: var(--primaryColor);
    /*height: fit-content;*/
    display: grid;
    grid-template-columns: 1fr;
    /*grid-template-rows: 3% 91% 6%;*/
    grid-template-rows: 1fr auto 3fr ; /* con 3% auto 6% el body no toma todo*/
    grid-template-areas: "header" 
                        "container"
                        "footer";
                        
}

nav.mainNav, nav.userNav, div.cartPopUp{
    display: none;
}

header{
    background-color: var(--primaryColorS2);
    /*grid-column: 1;
    grid-row: 1;*/
    grid-area: "header";
    /*height: fit-content;*/
    position: sticky;
    top:0;
    z-index: 100;
    display: grid;
    grid-template-columns: 15% 55% 15% 15%;
    grid-template-rows: 1fr;
    
}

div.container{
   /* grid-column: 1;
    grid-row: 2;*/
    margin-left: 8px;
    margin-right: 8px;
    grid-area: "container";
    
}

footer{
   /* grid-column: 1;
    grid-row: 3;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: "footer";
    background-color: var(--primaryColorS2);
    height: fit-content;
    color: var(--primaryColorL1);
    
}
footer h2.titleFooterLinks{
    font-size: var(--h3);
}
footer ul li a, .copyright{
    color: var(--primaryColorL1);
    font-size: var(--buttonText);
    
}
/*div.bigCarousel{
    height: 300px;
    display: flex;
    flex-direction: column;

}*/


/*Carrusel grande*/
section.recommended{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    min-height: 300px;
    
}
div.imgBigCarousel {
    position:relative;
    /*height: fit-content;*/
    min-height: 250px;
}
div.imgBigCarousel img{
    height: 250px;
    width: 100%;
    opacity: 0;
    transition:opacity 1s;
    position: absolute;
    /*left: 0;
    top: 0;*/
   /* display: none;*/

}
div.imgBigCarousel img:first-child{
    opacity: 1;
    /*display: block;*/
}
div.imgBigCarousel img:target{
    opacity: 1;
    display: block;
}

/*Botones carrusel grande*/
nav.elipseButton{
    /*cambios para q los botones se pongan en el medio en cualquier tamaño de pantalla*/
    /*display: inline;
    justify-self: center;*/
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: absolute;
    top: 250px;
    width: 100%;
    /*left:100px;*/
    /*left: 40%; */
   /* right: 40%;*/
    /*margin-left: 45px;*/
    
}
nav.elipseButton button{
    margin: 8px;
    border-radius: 100%;
    height: 15px; /*debe ser cuadrado para darle borde 100% y que quede un circulo*/
    width: 15px;
    background-color: var(--primaryColorS1);
    opacity: 0.71;
    /*opacity: 0;*/
   /* border: none;
    outline: none;*/
    
}
/*.circleButton{
    height: 20px;
    width: 20px;
    opacity: 1;
    
}*/
nav.elipseButton button a{
    opacity: 0;
    /*height: 20px;
    width: auto;*/
    /*text-decoration: none;*/
    /*border: none;*/
   /* outline: none;*/
}
 /*nav.elipseButton button:checked{
    opacity: 1;
}*/


/*Carrusel chico*/
h1.categoryName{
    color: var(--white);
    font-size: var(--h3);
}
.card{
    border-radius: 10px;
    margin: 5px;
}
section.smallCarousel{
    /*display: block;*/
    /*overflow-x: auto;*/
}
div.carousel{
    overflow-x: scroll;
}
div.slides{
    display: flex;
    flex-direction: row;
    /*flex-wrap: nowrap;*/
    /*overflow-x: scroll;*/
    width: fit-content;
    /*scroll-snap-type: x;*/
    /*transform: translateX(200px);*/
}
/*card pequeña*/
section.smallCarousel{
    margin-top: 20px;
    margin-bottom: 20px;
}
div.card{
    background-color: var(--white);
    width: 250px;
    display: flex;
    flex-direction: column;  
}

div.card-img img{
    height: 100px;
    width: 100%;
    
}
button.cardButton{
    background-color: var(--secondaryColor);
    text-align: center;
    width: 100px;
    border-radius: 5px;
    align-self: center; 
      
}
button.cardButton a{
    color: var(--white);
}
div.card-title p{
    color: var(--black);
    font-weight: bold;
    font-size: var(--bigCardText);
    margin-left: 2%;
    
}
div.card-price p{
    color: var(--primaryColor);
    font-size: var(--smallCardText);
    margin-left: 2%;
  
}
.card-price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;  /*esto pone al precio y boton sobre los margenes de la card*/
}
/*para alejar el boton de agregar del borde de la card*/
.cardButtonPrice{
    margin-right: 2%;
    
}
/*hace que lo que sobra de titulo se esconda y ponga ..*/
p.title-card{
    white-space: nowrap;
    text-overflow: ellipsis;
}
/*header*/
a img.logo{
    max-width: 150px;
    max-height: 100px;
}
img.hamburger, img.cart-icon{
    max-width: 100px;
    max-height: 100px;
    justify-self: center;
    margin-top: 33%;
}
img.cart-icon{
    justify-self: center;
    margin-top: 37%;
}
img.avatar{
    justify-self: center;
    margin-top: 33%;
}
/*formularios*/
form label{
    color: var(--primaryColorL3);
    font-size: var(--smallText);
}
form{
    background-color: var(--primaryColorL1);
    width: 500px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 2%;
}
form div.field{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 67.89px;
}
form input, form select{
    background-color: var(--primaryColorL2);
    border-radius: 10px;
}
form input{
    width: 400px;
    height: 35.94px;
}
form h1, form p{
    color: var(--white);
}
form h1{
    margin-bottom: 20px;
    margin-top: 30px;
}
form a{
    color: var(--accentColor);
}
form div.select, form div.agreement{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
form button{
    border-radius: 10px;
    width: 203px;
    height: 55.91px;
    font-size: var(--buttonText);
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--secondaryColorL3);
}
form select{
    width: 120px;
    height: 35.94px;

}
form div.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
form div.linkLogin{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px;
}
form div.linkLogin p{
    margin-right: 5px;
}
form div.linkLogin a{
    margin-left: 5px;
}
div input.checkbox{
    width: 20px;
    height: 20px;
}
div.agreement label{
    width: 355px;
}
div.agreement{
    margin-top: 30px;
}
form img.captcha{
    margin-left: 12px;
    margin-top: 15px;
}
div.buttons a img.btnGoogle{
    margin-bottom: 6px;
}
div.buttons a img.btnFace{
    margin-bottom: 30px;
}
img.logoForm{
    margin: 0 auto;
    margin-top: 2%;
    min-width: 280px;
    min-height: 140px;
}
form a.forgotPassword{
    margin-left: 170px;
}
form button.btnFormLogin{
    margin-top: 50px;
    
}
@media only screen and(min-width:660px){
    
}