body{
    margin: 0;
    padding:0;
    outline: none;
    list-style: none;
    text-decoration: none;
    border: none;
    overflow-x: hidden;
}

header.header{
    width: 100%;
    height: 197px;
    background-image: url("../img/header_sin_logo.png");
}

div.hamburguerMenu{
   position: absolute;
   left:100px;
   top:20px;
   width: fit-content;
   cursor: pointer;
}

div.buyButton{
    position: absolute;
    right: 100px;
    top: 20px;
    cursor: pointer;
}

div.container{
    width: 1080px;
    margin-left: 100px;
    margin-right: 100px;
}

section.spiderPpal{
    width: 100%;
    height: 720px;
}

img.imgSpiderPpal{
    width: 100%;
    height: 720px;
}