body{
    margin: 0;
    padding:0;
    outline: none;
    list-style: none;
    text-decoration: none;
    border: none;
    overflow-x: hidden;
    background-color: black;
    font-family: 'Lato', sans-serif;
}

header.header{
    width: 100%;
    height: 197px;
    background-image: url("../img/header_sin_logo.png");
}

div.hamburguerMenu{
   position: absolute;
   left:100px;
   top:20px;
   width: fit-content;
   cursor: pointer;
 
   z-index: 10;
}
div.hamburguerMenu img{
    height: 26px;
    width: 34px;
}

div.buyButton{
    position: absolute;
    right: 100px;
    top: 20px;
    cursor: pointer;
   
    z-index: 10;
}
div.buyButton img{
    height: 50px;
    width: 200px;
}

div.container{
    width: 1080px;
    margin-left: 100px;
    margin-right: 100px;
    position: absolute;
    top: 0;
   
}

section.spiderPpal{
    width: 100%;
    height: 720px;
}

img.imgSpiderPpal{
    width: 100%;
    height: 720px;
    z-index: 7;
}
.widthPage{
    width: 100%;

}
div.buildings{
    position: absolute;
    top: 0;
   
}
img.buildingsRight{
    position: absolute;
    right: -7px;
    top: 190px;
    z-index: 8;
}
img.buildingsLeft{
    position: absolute;
    left: -55px;
    top: 210px;
    z-index: 8;

}
img.buildingsCenter{
    position: absolute;
    left: 26%;
    top: 660px;
    width: 770px;
    z-index: 8;
}
img.title{
        position: absolute;
        top: 135px;
        left: 25%;
        width: 590px;
        height: 301px;
        z-index: 10;
}

img.spideyWhite{
    position: absolute;
    top: 460px;
    left: -1%;
    z-index: 10;
}
img.spideyRed{
    position: absolute;
    top: 430px;
    width: 1000px;
    left: -15%;
    z-index: 10;
}
img.spideyBlack{
    position: absolute;
    top: 380px;
    right: -10%;
    width: 700px;
    z-index: 10;
}
/*---------------------------------------------Seccion 2----------------*/
img.backgroundGoblin{
    width: 100%;
    height: 844.5px;
    z-index: 9;
    position: absolute;
    top: 835px;
}
div.textGoblin{
    width: 70%;
    height: fit-content;
}
p.pGoblin, h1.h1Goblin{
    color: white;
    
}
h1.h1Goblin{
    font-size: 60px;
    margin-bottom: 20px;
    width: 656px;
    font-weight: 600;

}
p.pGoblin{
  
    width: 75%;
    font-size: 20px;
    font-weight: 400;
    
}
div.ctn2{
    
    top: 950px;
    z-index: 10;
}
img.imgLeftGoblin{
    /*margin-top: 20px;*/
    
}
img.imgGreenGoblin{
    position: absolute;
    z-index: 10;
    right: 0;
    margin-left: -10px;
}

/*-----------------------------------Seccion 3 small cards----------------*/
div.sectionSmallCards{
    position: absolute;
    top: 1548px;
}
img.backgroundSmallCards{
    z-index: 5;
    height: 1085px;
}
img.imgSmallCards{
    width: 332.96px;
    height: 302.69px;

}
div.smallCard {
    z-index: 10;
    width: 33%;
}
div.ctn3{
    top:1870px;
    /* width: 100%; */
    display: flex;
    /* flex-direction: row; */
    /* justify-content: space-between; */
}
div.smallCard p{
    width: 88%;
    margin-left: 10px;
    font-size: 20px;
}

