body{
    margin: 0;
    padding:0;
    outline: none;
    list-style: none;
    text-decoration: none;
    border: none;
    overflow-x: hidden;
    background-color: black;
    font-family: 'Lato', sans-serif;
}
.widhPage{
    width: 100%;
}

header.header{
    width: 100%;
    height: 150px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    /*background-image: url(../img/header_sin_logo.png);*/
    transition: all 0.2s ease;
}
img.headerImg{
    width: 100%;
    height: 150px;
}
div.smallLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
img.smallLogo{
    opacity: 0;
}
div.hamburguerMenu{
   position: absolute;
   top:20px;
   cursor: pointer;
   z-index: 10;
   display: flex;
   flex-direction: column;
}
/*div.hamburguerMenu img{
    height: 26px;
    width: 34px;
}*/
.line{
    opacity: 1;
    transform: translateY(0) rotate(0);
    margin: -3px;
    transition: all 0.3s;
}
div.hamburguerMenuOpen .line:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
}
div.hamburguerMenuOpen .line:nth-child(2) {
    opacity: 0;
}
div.hamburguerMenuOpen .line:nth-child(3) {
    transform: translateY(-13px) rotate(-45deg);
}
div.hamburguerMenuOpen{
    display: flex;
    justify-content: center;
    align-items: center;

}


div.buyButton{
    position: absolute;
    right: 0;
    top: 20px;
    cursor: pointer;
   
    z-index: 10;
}
/*----------------------------boton comprar-----------------------------------------*/

button.btn{
    cursor: pointer;
    width: 200px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 111px;
    border: 8px solid var(--2982-ff, #2982FF);
    background: #FFE901;

    /* Drop Shadow */
    box-shadow: 4px 5px 0px 0px #02187E;
    color: #02187E;
    
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 94.5%; /* 18.9px */
    letter-spacing: 2.2px;
    transition: background-color 0.3s, transform 0.3s,border 0.3s, color 0.3s;
}
button.btn:hover{
    background-color: #2982FF;
    border: 8px solid #FFE901;
    transform: scale(1.1);
    color: #e0d01f;
}
/*---------------------------------------------------------------------------------------*/
div.buyButton img{
    height: 50px;
    width: 200px;
}

div.container{
    width: 1080px;
    margin-left: 7.81%;
    margin-right: 7.81%;
    position: absolute;
    top: 0;
   
}
header.scrollHeader {
    height: 115px;
    background: linear-gradient(
      180deg,
      #5499f8 0%,
      #5499f8 87.9%,
      #5499f8 87.91%,
      rgba(84, 153, 248, 0.91) 87.92%,
      rgba(84, 153, 248, 0) 100%
    );
  }
img.scrollHeader{
    height: 103px;
    width: 1280px;
    overflow-y: hidden;
    z-index: 1002;

}
div.ctnHeader{
    height: 150px;
   
}
/*---------------------------------Seccion 1 spideys---------------------*/
section.spiderPpal{
    width: 100%;
    height: 820px;
    /*height: 720px;*/
    position: relative;
    top: 133px;
}

img.imgSpiderPpal{
    width: 100%;
    height: 820px;
    position: absolute;
    top: -140px;
    z-index: 7;
}

div.buildings{
    position: absolute;
    top: 0;
   
}
img.buildingsRight{
    position: absolute;
    right: -7px;
    /* top: 190px; */
   /* top: -35px;*/
   bottom: 100px;
    z-index: 8;
}
img.buildingsLeft{
    position: absolute;
    left: -55px;
    /* top: 210px; */
    bottom: 90px;
    z-index: 8;

}
img.buildingsCenter{
    position: absolute;
    left: 26%;
    /* top: 660px; */
    bottom: 90px;
    width: 610px;
    z-index: 8;
}
img.title{
    position: absolute;
    top: -30px;
    left: 245px;
    width: 590px;
    height: 301px;
    z-index: 1001;
    /*transition: height 0.1s ease, width 0.1s ease;*/
}

img.spideyWhite{
    position: absolute;
    top: 255px;
    left: -3px;
    z-index: 10;
    height: 420px;
}
img.spideyRed{
    position: absolute;
    top: 220px;
    width: 1050px;
    left: -363px;
    z-index: 10;
}
img.spideyBlack{
    position: absolute;
    top: 180px;
    right: -230px;
    width: 700px;
    z-index: 10;
}
/*---------------------------------------------Seccion 2----------------*/
section.goblin{
    width: 100%;
    height:844.5px;
  
}
img.backgroundGoblin{
    width: 100%;
    height: 844.5px;
    z-index: 9;
    position: absolute;
    top: 750px;
}
div.textGoblin{
    width: 70%;
    height: fit-content;
    position: relative;
}
p.pGoblin, h1.h1Goblin{
    color: white;
    
}
h1.h1Goblin{
    font-size: 60px;
    margin-bottom: 20px;
    width: 656px;
    font-weight: 600;

}
p.pGoblin{
  
    width: 75%;
    font-size: 20px;
    font-weight: 400;
    
}
div.ctn2{
    
    top: 890px;
    z-index: 10;
}
img.imgLeftGoblin{
    /*margin-top: 20px;*/
    
}
img.imgGreenGoblin{
    position: absolute;
    z-index: 10;
    right: -100px;
    top: -10px;
}

/*-----------------------------------Seccion 3 small cards----------------*/
section.smallCards{
    display: flex;
    /*flex-direction: column-reverse;*/
    justify-content: center;
    width: 100%;
    height: 1085px;
}
div.sectionSmallCards{
    position: absolute;
    top: 1460px;
    width: 100%;
    
}
img.backgroundSmallCards{
    z-index: 5;
    height: 1085px;
    width: 100%;
}
img.imgSmallCards{
    width: 332.96px;
    height: 302.69px;

}
div.smallCard {
    z-index: 10;
    width: 33%;
    opacity: 0;
    transform: translateY(30px); /* Inicialmente, oculta los cards 30px por debajo */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Agrega transiciones suaves */
}
#smc1 { transition-delay: 0.4s; } /* Ajusta los retardos para efectos de entrada escalonados */
#smc2 { transition-delay: 0.8s; }
#smc3 { transition-delay: 1.2s; }
div.ctn3{
    top:1830px;
    /* width: 100%; */
    display: flex;
    /* flex-direction: row; */
     justify-content: center; 
     overflow: hidden;
}
div.smallCard p{
    width: 88%;
    margin-left: 10px;
    font-size: 20px;
}
/*-------------------------------------Section 4 spidey blanca------------*/
section.sectionSpideyWhite{
    width: 100%;
    height: 566px;
   
}
img.spideyWhiteImg{
    width: 546.11px;
    height: 326.51px;
}
div.spideyWhite, div.spideyWhite img{
    position: absolute;
    width: 100%;
    height: 566px;
}
div.spideyWhite img{
    top: -160px;
  
}
div.ctn4{
    position: relative;
}

img.sw1, img.sw2, img.sw3{
    /*width: 65%;*/
    height: auto;
    position: absolute;
    left: -45px;
    width: 590px;
}
img.sw1{
    top: -305px;
   
}
img.sw2{
    top: -170px;
   

}
img.sw3{
    top: 35px;
    

}
/*-----------------------------------Seccion 5 avengers-------------*/
section.avengers{
    width: 100%;
    height: 900px;
    position: relative;
    top: -50px;
}
h2.h2Avengers{
    color: white;
    font-size: 60px;
    font-weight: lighter;
    width: 50%;
}
div.ctn5{
    position: relative;
    height: 900px ;
    margin: 0 auto;
}
img.avengersImage{
    position: absolute;
    
}
img.clouds, img.vegetation, img.lessVegetation{
    width: 100%;
    height: auto;
}
img.clouds{
    z-index: 7;
}
img.vegetation{
    z-index: 8;
}
img.lessVegetation{
    z-index: 10;

}
div.avengersBackground{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 527px
}
img.flashGirl,img.ironman, img.hulk{
    position: absolute;
    z-index: 9;

}
img.flashGirl{
    top:160px

}
img.ironman{
    top: -15px;
    left: 41%;
    width: 47%;
    height: auto;
}
img.hulk{
    top:360px ;
    right: -50px;
    
}
/*------------------------------------------seccion 6 --------------------------------------*/
section.bigCards{
    height: 1830px;
    width: 100%;
    position: relative;
    top: -170px;
}
div.ctn6{
    position: relative;
    height: 1650px;
    margin: 0 auto;
    top: 50px;
}
img.imgBigCards{
    width: 100%;
    height: 1950px;
    position: absolute;
    top: -180px;

}
h2.h2BigCards{
    font-size: 50px;
    font-weight: lighter;
}
div.divBigCards{
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
}
div.divImgBG{
    margin-right: 40px;
}
h3.h3BigCards{
    font-size: 30px;
    font-weight: lighter;
    margin-top: 0;
}
p.pBigCards{
    font-size: 18px;
}
img.imgBG{
    width: 552px;
    height: 302.76px;
}
/*--------------------------------seccion 7--------------------------------------*/
section.buyNow{
    width: 100%;
    height: 20px;
    position: relative;
}
div.ctn7{
    width: 100%;
    height: 20px;
    position: absolute;
    top:-250px;
}
h2.h2BuyNow{
    color: white;
    font-size: 50px;
    font-weight: lighter;
    width: 55%;
}
button.btnNow{
    width: 292px;
    
}
/*-------------------------seccion 8----------------------------------------------------*/
section.spiders{
    width: 100%;
    height: 720px;
    position: relative;
}
img.imgBuyNow{
    width: 100%;
    height: 720px;
}
div.ctn8{
    width: 100%;
    height: 720px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 180px;
}
/*-------------------------------Seccion 9 Spritesheet-----------------*/
section.spritesheet{
    width: 100%;
    height: 1266px;
    position: relative;
}
img.cloudsSpritesheet, img.buildingsSpritesheet{
    width: 100%;
}

div.ctn9{
   height: 1266px;
   
   

}
div.divTitleAndMore{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
img.cloudsSpritesheet{
    position: absolute;
    height: 1266px;
}
img.buildingsSpritesheet{
   position: absolute;
   bottom: 0;;
}
img.input{
    width: 700px;
    position: absolute;
    top: 340px;
    left: 190px;
    
}
h2.titleSpritesheet{
    position: absolute;
    top: 120px;
    font-size: 50px;
    width: 700px;
    text-align: center;
    left: 190px;
    line-height: 94.5%;
    font-weight: 600;
    
}
p.pSpritesheet{
    position: absolute;
    top: 450px;
    width: 530.4px;
    left: 235px;
    font-size: 18px;
    
}
img.teen{
    position: absolute;
    top: 580px;
    left: 235px;
}
img.spideyBlackSpritesheet{
    bottom: 70px;
    left: 118px;
    position: absolute;
}
img.spideyRedSpritesheet{
    position: absolute;
    bottom: 240px;
    right: 88px;

}
img.spideyWhiteSpritesheet{
    position: absolute;
    bottom: 160px;
    left: 434px;
}
/*---------------------------------Efecto spritesheet-------------------------*/

.spidey{
    /* Tamaño de la viñeta individual */
    width:102px;
    height:88px;
    /* Cómo hay establecido un tamaño, centramos con margin:auto */
    position: absolute;
    bottom: 240px;
    right: 88px;
    /* Cargamos el sprite (el repeat-x se puede omitir, por defecto se repite) */
    background:url(../img/sprite2big.png) repeat-x;
    /* Aplicamos la animación "walk": 0.8seg, 6 viñetas y repetimos infinitamente */
    animation:walk 1.5s steps(6) infinite;
    /* Posicionamos el personaje sobre el camino de madera */
   
  }
  
  /* Animación de personaje caminando: Simplemente mueve el sprite sheet hacia la izquierda, realizando el movimiento. */
  @keyframes walk {
    /* Partimos de la primera viñeta del sprite sheet */
    0% { background-position:0 }
    /* El tamaño total de ancho del sprite. Es negativo para que no "camine" hacia atrás */
    100% { background-position:-612px }
  }
  .display{
    display: none;
  }
/*---------------------------------Section 10 sponsors------------------*/
section.banner{
    position: relative;
}
img.backgroundSponsors{
    width: 100%;
    height: 75px;
    
}
/*----------------------------Fat footer--------------------*/
footer{
    position:relative;
    height: 690px;
    width: 100%;
}
div.ctn11{
    width: 850px;
    margin-top: 25px;
}
div.ctn11 p{
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
}
img.socials{
    margin-top: 20px;
}
img.backgroundFooter{
    height: 690px;
}
.hidden{
    display: none;
}


